*{
  margin: 0px;
  padding: 0px;
}

.Container{
  padding-left:10%;
  padding-right:10%;
 
}

.header{
  height:400px;
  width: 100%;
  background-color: red;
  display: grid;
  grid-template-rows: 20% 80%;
}

.header-top{
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
}

.header-top-left{
  margin:5px;
 
}

.header-bot{
  background-color: royalblue;
  width: 100%;
}

.main{
  width:100%;
  /*height: auto; - AFTER THE CARDS ARE IMPLEMENTED */
  height:1000px;
  background-color: rgb(240, 136, 136);
}


.footer{
  height:100px;
  width: 100%;
  background-color: blue;
}